## copy this file to .env.local and fill in the values
## this file is used to store environment variables for the app using npm run generate-env to generate the environment files for IONIC app

## app version
VERSION_MAJOR=0
VERSION_MINOR=1
VERSION_DATE=YYYY-MM-DD

## app config
APP_NAME=z-control IONIC Setup
SHOW_TABS_BAR=false
USE_FIREBASE_EMULATOR=false

## firebase config
