<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>{{ "FEATURE.CARD.TITLE" | translate }}</ion-card-title>
    <ion-card-subtitle>
      {{ "FEATURE.CARD.SUBTITLE" | translate }}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p class="ion-padding">
      <a href="https://www.datamuse.com/api/" target="_blank">Datamuse API</a>
      {{ "FEATURE.CARD.INFO-1" | translate }}
    </p>
    <p class="ion-padding">{{ "FEATURE.CARD.INFO-2" | translate }}</p>
    <ion-item>
      <ion-input
        placeholder="{{ 'FEATURE.CARD.PLACEHOLDER.INPUT' | translate }}"
        [(ngModel)]="featureInput"
        (ionInput)="enableButtons()"
      ></ion-input>
    </ion-item>
    <ion-list lines="none" *ngIf="relatedWords.length">
      <ion-list-header>
        {{ "FEATURE.CARD.LABEL.RELATED_WORDS" | translate }}
      </ion-list-header>

      <div
        class="ion-padding-start"
        style="font-weight: 700; font-size: 16px"
        *ngFor="let word of relatedWords"
      >
        {{ word }}
      </div>
    </ion-list>
  </ion-card-content>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="ion-text-center">
    <ion-button
      fill="clear"
      (click)="search()"
      (keydown.enter)="search()"
      [disabled]="searchBtnDisabled"
      >{{ "FEATURE.CARD.BUTTON.SEARCH" | translate }}</ion-button
    >
    <ion-button
      fill="clear"
      (click)="clear()"
      [disabled]="clearBtnDisabled"
      (keydown.enter)="clear()"
      >{{ "FEATURE.CARD.BUTTON.CLEAR" | translate }}</ion-button
    >
  </div>
</ion-card>
