<div id="toast-anchor-main">
  <app-header [currentTab]="Tab.MainFeature"></app-header>
</div>

<ion-content
  #content
  class="translation-content"
  [class.landscape]="!utilsService.isPortrait"
>
  <ion-card class="main-feature-card" color="light">
    <ion-card-header>
      <ion-card-title>{{ "MAIN.CARD.TITLE" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-feature-example></app-feature-example>
    </ion-card-content>
  </ion-card>
  <ion-accordion-group
    (ionValueChange)="onAccordionGroupChange($event, content)"
  >
    <ion-accordion value="user-contingent" class="monthly-quota-accordion">
      <ion-item slot="header" color="light">
        <ion-label
          >{{ 'MAIN_STATISTICS.ACCORDION.TITLE' | translate }}</ion-label
        >
      </ion-item>
      <div slot="content">
        <app-user-statistic></app-user-statistic>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
